#DATA STRUCTURE

#Therotical Questions

1. What are data structures, and why are they important?
Data structures are ways of organizing and storing data efficiently for operations such as searching, sorting, and manipulation. They are crucial in programming as they optimize performance and manage complexity.

2. Explain the difference between mutable and immutable data types with examples.
Mutable data types can be modified after creation (e.g., lists, dictionaries), while immutable data types cannot be changed once assigned (e.g., strings, tuples).

3. What are the main differences between lists and tuples in Python?
Lists are mutable, dynamic, and consume more memory, while tuples are immutable, static, and memory-efficient.

4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs using a hashing mechanism for fast lookups.

5. Why might you use a set instead of a list in Python?
Sets ensure uniqueness and provide faster membership checks compared to lists.

6. What is a string in Python, and how is it different from a list?
A string is an immutable sequence of characters, while a list is a mutable collection of elements.

7. How do tuples ensure data integrity in Python?
Tuples are immutable, preventing unintended modifications and ensuring data consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Python’s dictionary is implemented using a hash table for efficient key-value storage.

9. Can lists contain different data types in Python?
Yes, lists in Python can store multiple data types, including integers, strings, and other objects.

10. Explain why strings are immutable in Python.
Strings are immutable for memory efficiency, security, and to prevent unintended changes.

11. What advantages do dictionaries offer over lists for certain tasks?Dictionaries allow quick lookups using keys, whereas lists require searching through elements sequentially.

12. Describe a scenario where using a tuple would be preferable over a list.
A tuple is preferable for fixed data, such as coordinates or configuration settings, to ensure immutability.

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicate values, ensuring uniqueness.

14. How does the “in” keyword work differently for lists and dictionaries?
For lists, "in" checks for element existence, while in dictionaries, it checks for key existence.

15. Can you modify the elements of a tuple? Explain why or why not.
No, tuples are immutable; once created, their elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case.
A nested dictionary is a dictionary within another dictionary, useful for storing hierarchical data like user profiles.

17. Describe the time complexity of accessing elements in a dictionary.Accessing elements in a dictionary has an average time complexity of O(1) due to hashing.

18. In what situations are lists preferred over dictionaries?
Lists are preferred when order matters or when working with sequential data.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries store elements based on hash functions, not insertion order (before Python 3.7), affecting retrieval order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Lists retrieve data using indices (O(1) for direct access), while dictionaries retrieve data using keys (O(1) on average but O(n) in worst cases).

#Practical Questions

In [1]:
# 1. Create a string with your name and print it
name = "Kartik"
print(name)

Kartik

In [2]:
# 2. Find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [3]:
# 3. Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# 5. Replace "apple" with "orange" in "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Append 10 to the list
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

In [8]:
# 8. Remove number 3 from the list
numbers.remove(3)
print(numbers)

[1, 2, 4, 5, 10]

In [9]:
# 9. Access the second element in ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# 10. Reverse the list [10, 20, 30, 40, 50]
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11. Create a tuple and print it
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [25]:
# 12. Describe a scenario where using a tuple would be preferable over a list
# Example: A tuple is preferable for fixed data, such as coordinates or configuration settings, to ensure immutability.
coordinates = (34.0522, -118.2437)  # Tuple for geographical coordinates
print(coordinates)

(34.0522, -118.2437)

In [12]:
# 13. Find the minimum number in (10, 20, 5, 15)
tuple3 = (10, 20, 5, 15)
print(min(tuple3))

5

In [13]:
# 14. Find the index of "cat" in ('dog', 'cat', 'rabbit')
tuple4 = ('dog', 'cat', 'rabbit')
print(tuple4.index("cat"))

1

In [14]:
# 15. Check if "kiwi" is in tuple
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [15]:
# 16. Create and print a set
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'c', 'b'}

In [16]:
# 17. Clear all elements from a set
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [17]:
# 18. Remove element 4 from a set
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [18]:
# 19. Find the union of two sets
setA = {1, 2, 3}
setB = {3, 4, 5}
print(setA.union(setB))

{1, 2, 3, 4, 5}

In [19]:
# 20. Find the intersection of two sets
print(setA.intersection(setB))

{3}

In [20]:
# 21. Create a dictionary and print it
dict1 = {"name": "John", "age": 25, "city": "New York"}
print(dict1)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [21]:
# 22. Add a new key-value pair
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [22]:
# 23. Access value of "name" in dictionary
print(dict1["name"])

John

In [23]:
# 24. Remove the "age" key
del dict1["age"]
print(dict1)

{'name': 'John', 'city': 'New York', 'country': 'USA'}

In [24]:
# 25. Check if "city" exists in dictionary
print("city" in dict1)

True